USE [bank_system_DB]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 1/4/2025 11:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[PinCode] [int] NOT NULL,
	[Balance] [float] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Currencies]    Script Date: 1/4/2025 11:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Currencies](
	[Country] [nvarchar](50) NOT NULL,
	[CurrencyCode] [nvarchar](50) NOT NULL,
	[CurrencyName] [nvarchar](50) NOT NULL,
	[Rate] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginRegister]    Script Date: 1/4/2025 11:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginRegister](
	[Date] [datetime] NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Permissions] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 1/4/2025 11:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[ID] [int] NULL,
	[SenderUser] [nvarchar](50) NULL,
	[ReceiverUser] [nvarchar](50) NULL,
	[MessageText] [text] NULL,
	[Date] [datetime] NULL,
	[IsRead] [nvarchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferLog]    Script Date: 1/4/2025 11:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferLog](
	[Date] [datetime] NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Senders Acc Number] [nvarchar](50) NULL,
	[Recipients Acc Number] [nvarchar](50) NULL,
	[Amount] [float] NULL,
	[Senders Balance] [float] NULL,
	[Recipients Balance] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/4/2025 11:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Permission] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Clients] ([FirstName], [LastName], [Email], [Phone], [AccountNumber], [PinCode], [Balance]) VALUES (N'mahmut', N'Alahmed', N'mahmud@gamil.com', N'534886945', N'111', 2222, 9300)
INSERT [dbo].[Clients] ([FirstName], [LastName], [Email], [Phone], [AccountNumber], [PinCode], [Balance]) VALUES (N'Alaa', N'hamd', N'Alaa@gamil.com', N'5348593854', N'112', 2222, 701)
INSERT [dbo].[Clients] ([FirstName], [LastName], [Email], [Phone], [AccountNumber], [PinCode], [Balance]) VALUES (N'Ahmed', N'Ali', N'AhmedAli@gmail.com', N'53474556574', N'113', 1111, 4000)
GO
INSERT [dbo].[Currencies] ([Country], [CurrencyCode], [CurrencyName], [Rate]) VALUES (N'United States of America', N'USD', N'US Dollar', 1)
INSERT [dbo].[Currencies] ([Country], [CurrencyCode], [CurrencyName], [Rate]) VALUES (N'Afghanistan', N'AFN', N'Afghanistan Afghani', 70.2295)
INSERT [dbo].[Currencies] ([Country], [CurrencyCode], [CurrencyName], [Rate]) VALUES (N'Albania', N'ALL', N'Albania Lek(e)', 94.157437)
GO
INSERT [dbo].[LoginRegister] ([Date], [UserName], [Password], [Permissions]) VALUES (CAST(N'2024-12-26T17:57:51.340' AS DateTime), N'Admin', N'1234', -1)
INSERT [dbo].[LoginRegister] ([Date], [UserName], [Password], [Permissions]) VALUES (CAST(N'2024-12-26T18:01:58.473' AS DateTime), N'User1', N'1111', 13)
INSERT [dbo].[LoginRegister] ([Date], [UserName], [Password], [Permissions]) VALUES (CAST(N'2024-12-26T18:07:02.237' AS DateTime), N'Admin', N'1234', -1)
GO
INSERT [dbo].[Message] ([ID], [SenderUser], [ReceiverUser], [MessageText], [Date], [IsRead]) VALUES (85022, N'Admin', N'User1', N'Hello User1', CAST(N'2025-01-04T15:18:19.077' AS DateTime), N'Read')
INSERT [dbo].[Message] ([ID], [SenderUser], [ReceiverUser], [MessageText], [Date], [IsRead]) VALUES (83892, N'User1', N'Admin', N'Hello Admin', CAST(N'2025-01-04T15:18:56.003' AS DateTime), N'Read')
GO
INSERT [dbo].[TransferLog] ([Date], [UserName], [Senders Acc Number], [Recipients Acc Number], [Amount], [Senders Balance], [Recipients Balance]) VALUES (CAST(N'2025-01-04T15:19:54.097' AS DateTime), N'Admin', N'111', N'112', 700, 8600, 1401)
GO
INSERT [dbo].[Users] ([ID], [UserName], [FirstName], [LastName], [Email], [Phone], [Password], [Permission]) VALUES (96494, N'Admin', N'Ahmed', N'Mihemid', N'Ahmed@gmail.com', N'5347975075', N'1234', -1)
INSERT [dbo].[Users] ([ID], [UserName], [FirstName], [LastName], [Email], [Phone], [Password], [Permission]) VALUES (85581, N'User1', N'ali', N'ahmed', N'ali@gmail.com', N'5498438524', N'1111', -14)
GO
